name: GHRS:covid19
on:
  schedule:
    # Run this once per day.
    # The specific hour is interpreted in UTC time zone.
    # Do this towards the end of the UTC day.
    - cron: "* 22 * * *"
  workflow_dispatch: # Allow for running this manually.

jobs:
  j1:
    name: github-repo-stats
    runs-on: ubuntu-latest
    steps:
      - name: GHRS
        uses: robseb/meta-intelfpga@HEAD
        with:
          # Define the target repository, the repo to fetch
          # stats for and to generate the report for.
          repository: robseb/meta-intelfpga
          # Required token privileges: Can read the target
          # repo, and can push to the repository this
          # workflow file lives in (to store data and
          # the report files).
          ghtoken: ${{ secrets.ghrs_github_api_token }}
